body {
  font-family: "Montserrat", sans-serif;

  background-color: #f5f7fa;
}
.Main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #e9dfd2;
  /* margin: 40px auto; */
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/*Main content section  */

.Main-content-sections {
  width: 70%;
  padding: 100px 50px;
}

.Main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/*Abowt me section  */
.Abowt-me-section {
  margin: 0 0 40 0;
}

.Abowt-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20 0;
}

.abowt-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25 0;
}
.abowt-me-description {
  width: auto;
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/*My projects section  */
.My-projects-section {
  margin: 0 0 50px 0;
}

.My-projects-list {
  padding: 0 0 0 17px;
}

.My-projects-item {
  color: #000;
  font-weight: bold;
}
.My-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.My-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5px;
  color: #595959;
}
.My-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/*My work experience section  */
.My-work-experience-company {
  color: #fb6d3a;
  /* color: #000000; */
}
.My-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
  color: #000000;
  /* color: #fb6d3a; */
}
.My-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.My-work-experience-divider {
  color: #000000;
  margin: 0 10px 0 10px;
}
.My-work-experience-duties {
  padding: 0 100px 0 18px;
}
.My-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.My-work-experience-company-block {
  margin: 0 0 15px 0;
}
.My-work-experience-section {
  margin-bottom: 45px;
}

/*My Education section  */
.My-Education-section {
  width: 525px;
}
.My-Education-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.My-Education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 10px 0;
}

.My-Education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

/*Sidebar section  */
.Sidebar-sections {
  /* background-color: #63666f; */
  /* background-color: #a4a9bd; */
  background-color: #b2c3bd;
  width: 30%;
  /* width: 370px; */
  padding: 40px 20px;
}
.Sidebar-photo {
  width: 100%;
  border-radius: 50%;
}
.Contact-section,
.Tech-Skills-section,
.Soft-Skills-section,
.Languages-section {
  width: 100%;
  margin-top: 50px;
}
.Sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Contact section */

.Contact-section-tipe {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}
.Contact-section-link {
  /* color: #565E6A; */
  color: #63666f;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Tech-Skills section */
.Tech-Skills-list {
  padding: 0 0 0 17px;
}
.Tech-Skills-item {
  color: #fb6d3a;
}

.Tech-Skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
